# Credit Card Retention Analysis

## Imports

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.graph_objs as go
from plotly.offline import iplot
sns.set()
pd.options.display.max_columns = 999

In [10]:
import os
os.getcwd()

'c:\\Users\\Farhaan\\Desktop\\practical-python-for-data-professionals-4358485\\03_05'

In [11]:
data = pd.read_csv('../data/BankChurners_v2.csv')

In [12]:
import os
os.getcwd()

'c:\\Users\\Farhaan\\Desktop\\practical-python-for-data-professionals-4358485\\03_05'

In [13]:
data = data[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',]]

***

## Missing Values

In [20]:
print(data.isnull().sum())

CLIENTNUM                      0
Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [21]:
print(data[data['Education_Level'].isna()])

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
6          90038  Existing Customer            51      M                4
11         90043  Existing Customer            65      M                1
15         90047  Existing Customer            44      M                4
17         90049  Existing Customer            41      M                3
23         90055  Existing Customer            47      F                4
...          ...                ...           ...    ...              ...
10090     100122  Existing Customer            36      F                3
10094     100126  Existing Customer            59      M                1
10095     100127  Existing Customer            46      M                3
10118     100150  Attrited Customer            50      M                1
10123     100155  Attrited Customer            41      M                2

      Education_Level Marital_Status Income_Category Card_Category  \
6                 NaN        Married         $120K +          Gold
11                NaN        Married     $40K - $60K          Blue
15                NaN            NaN    $80K - $120K          Blue
17                NaN        Married    $80K - $120K          Blue
23                NaN         Single  Less than $40K          Blue
...               ...            ...             ...           ...
10090             NaN        Married     $40K - $60K          Blue
10094             NaN         Single     $60K - $80K          Blue
10095             NaN        Married    $80K - $120K          Blue
10118             NaN            NaN    $80K - $120K          Blue
10123             NaN       Divorced     $40K - $60K          Blue

       Months_on_book  Total_Relationship_Count  Months_Inactive_12_mon  \
6                  46                         6                       1
11                 54                         6                       2
15                 37                         5                       1
17                 34                         4                       4
23                 36                         3                       3
...               ...                       ...                     ...
10090              22                         5                       3
10094              48                         3                       1
10095              33                         4                       1
10118              36                         6                       3
10123              25                         4                       2

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
6                          3       34516.0                 2264
11                         3        9095.0                 1587
15                         2        4234.0                  972
17                         1       13535.0                 1291
23                         2        2492.0                 1560
...                      ...           ...                  ...
10090                      3       12958.0                 2273
10094                      2        7288.0                    0
10095                      3       34516.0                 1099
10118                      4        9959.0                  952
10123                      3        4277.0                 2186

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
6              32252.0                 1.975             1330              31
11              7508.0                 1.433             1314              26
15              3262.0                 1.707             1348              27
17             12244.0                 0.653             1028              21
23               932.0                 0.573             1126              23
...                ...                   ...              ...             ...
10090          10685.0                 0.608            15681              96
10094           7288.0                 0.640            14873             120
10095          33417.0                 0.816            15490             110
10118           9007.0                 0.825            10310              63
10123           2091.0                 0.804             8764              69

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio
6                    0.722                  0.066
11                   1.364                  0.174
15                   1.700                  0.230
17                   1.625                  0.095
23                   0.353                  0.626
...                    ...                    ...
10090                0.627                  0.175
10094                0.714                  0.000
10095                0.618                  0.032
10118                1.100                  0.096
10123                0.683                  0.511

[1519 rows x 21 columns]

To fill in the missing values, we will use the following code:

In [25]:
data['Education_Level'] = data['Education_Level'].fillna("Unknown")
data['Marital_Status'] = data['Marital_Status'].fillna("Unknown")
data['Income_Category'] = data['Income_Category'].fillna("Unknown")
print(data)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0          90032  Existing Customer            45      M                3
1          90033  Existing Customer            49      F                5
2          90034  Existing Customer            51      M                3
3          90035  Existing Customer            40      F                4
4          90036  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10122     100154  Existing Customer            50      M                2
10123     100155  Attrited Customer            41      M                2
10124     100156  Attrited Customer            44      F                1
10125     100157  Attrited Customer            30      M                2
10126     100158  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School        Unknown  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10122        Graduate         Single     $40K - $60K          Blue
10123         Unknown       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate        Unknown     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  Total_Relationship_Count  Months_Inactive_12_mon  \
0                  39                         5                       1
1                  44                         6                       1
2                  36                         4                       1
3                  34                         3                       4
4                  21                         5                       1
...               ...                       ...                     ...
10122              40                         3                       2
10123              25                         4                       2
10124              36                         5                       3
10125              36                         4                       3
10126              25                         6                       2

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
0                          3       12691.0                  777
1                          2        8256.0                  864
2                          0        3418.0                    0
3                          1        3313.0                 2517
4                          0        4716.0                    0
...                      ...           ...                  ...
10122                      3        4003.0                 1851
10123                      3        4277.0                 2186
10124                      4        5409.0                    0
10125                      3        5281.0                    0
10126                      4       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
0              11914.0                 1.335             1144              42
1               7392.0                 1.541             1291              33
2               3418.0                 2.594             1887              20
3                796.0                 1.405             1171              20
4               4716.0                 2.175              816              28
...                ...                   ...              ...             ...
10122           2152.0                 0.703            15476             117
10123           2091.0                 0.804             8764              69
10124           5409.0                 0.819            10291              60
10125           5281.0                 0.535             8395              62
10126           8427.0                 0.703            10294              61

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio
0                    1.625                  0.061
1                    3.714                  0.105
2                    2.333                  0.000
3                    2.333                  0.760
4                    2.500                  0.000
...                    ...                    ...
10122                0.857                  0.462
10123                0.683                  0.511
10124                0.818                  0.000
10125                0.722                  0.000
10126                0.649                  0.189

[10127 rows x 21 columns]

In [26]:
print(data.isnull().sum())

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64